services:

    database:
        image: nexus.energia.sise:5003/postgres:18.1
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_DB=ratingman
            - POSTGRES_PASSWORD=securepassword
        volumes:
            - ./src/test/resources/db/init.sql:/docker-entrypoint-initdb.d/init.sql
        networks:
            - rating-engine-local

    zookeeper:
        image: nexus.energia.sise:5003/bitnami/zookeeper:3.8
        ports:
            - "2181:2181"
        volumes:
            - "zookeeper_data:/bitnami"
        environment:
            - ALLOW_ANONYMOUS_LOGIN=yes
        networks:
            - rating-engine-local

    kafka:
        image: nexus.energia.sise:5003/bitnami/kafka:3.3
        ports:
            - "9092:9092"
        volumes:
            - "kafka_data:/bitnami"
        environment:
            - KAFKA_BROKER_ID=1
            - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
            - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
            - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
            - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
            - ALLOW_PLAINTEXT_LISTENER=yes
            - KAFKA_ENABLE_KRAFT=no
            - KAFKA_CFG_NUM_PARTITIONS=6
        depends_on:
            - zookeeper
        networks:
            - rating-engine-local

volumes:
    zookeeper_data:
        driver: local
    kafka_data:
        driver: local

networks:
    rating-engine-local:
        driver: bridge